$offwhite: #f7f7f7;


// Text

$light_blue: #5584b2; 
$green: #0be053;
$red: #f20a0a; 
$orange: #f29e0a; 
$tangerine:#ef520c; 
$yellow: #f4e308; 
$grey: #5d5d5d; 
$steel: #464f54; 
$boundary: #dfdfdf; 
$grey_heading: #a2a7a9; 
$interact_grey:#f5f5f5; 


$positive: #238203; 
$negative: #8c0c0c; 
$neutral: #c7cacb; 